# class ResqueJob
#   @queue = :low
#
#   def self.perform(message_object)
#     Pheromone::Messaging::Message.new(
#        topic: message_object['topic'],
#        blob: message_object['message'],
#        metadata: message_object['metadata'],
#        options: message_object['options']
#      ).send!
#   end
# end
