# class ResqueJob
#   @queue = :low
#
#   def self.perform(topic:, message:, metadata: {}, options: {})
#     Pheromone::Messaging::Message.new(
#        topic: topic,
#        message: message,
#        metadata: metadata,
#        options: options
#      ).send!
#   end
# end
