# class SidekiqJob
#   include Sidekiq::Worker
#   def perform(topic:, message:, metadata: {}, options: {})
#     Pheromone::Messaging::Message.new(
#        topic: topic,
#        message: message,
#        metadata: metadata,
#        options: options
#      ).send!
#   end
# end
